<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <!--<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient"/>-->
    <!--<add name="GCCon" connectionString="Data Source=192.168.1.24;Initial Catalog=Gopalan_Cinemas;Persist Security Info=True;User ID=sa;Password=V!5ta" providerName="System.Data.SqlClient"/>-->
    <add name="GCCon" connectionString="Data Source=192.168.1.51;Initial Catalog=Gopalan_Cinemas;Persist Security Info=True;User ID=sa;Password=Influx@2008!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="GCCon" value="server=192.168.1.24;Database=Gopalan_Cinemas;uid=sa;pwd=V!5ta;"/>-->
    <add key="GCCon" value="server=192.168.1.51;Database=Gopalan_Cinemas;uid=sa;pwd=Influx@2008!;"/>
    <!--test-->
    <!--<add key="GCTransportalID" value="90002237"/>
    <add key="GCTransportalPwd" value="password1"/>
    <add key="GCUrl" value="http://www.gopalancinemas.com/"/>
    <add key="GCPaymentURL" value="https://securepgtest.fssnet.co.in/pgway/servlet/PaymentInitHTTPServlet"/>-->
    <add key="GCDualURL" value="https://securepgtest.fssnet.co.in/pgway/servlet/TranPortalXMLServlet" />
    <add key="GCTransportalID" value="70003049" />
    <add key="GCTransportalPwd" value="70003049" />
    <add key="GCUrl" value="http://www.gopalancinemas.com/" />
    <add key="GCPaymentURL" value="https://securepg.fssnet.co.in/pgway/servlet/PaymentInitHTTPServlet" />
    <!--<add key="GCDualURL" value="https://securepg.fssnet.co.in/pgway/servlet/TranPortalXMLServlet"/>-->
    <add key="PaymentExpress.PxPay" value="https://sec.paymentexpress.com/pxpay/pxaccess.aspx"/>
    <add key="PxPayUserId" value=""/>
    <add key="PxPayKey" value=""/>
  </appSettings>
    
  <system.web>
    <customErrors mode="Off" defaultRedirect="error.aspx"></customErrors>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
